.footer {
    background-color: purple;
    color: #fff; 
    padding: 20px 0; 
    display: flex;
    justify-content: center;
  }

  
  .footer h4 {
    color: #fff; 
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer hr {
    border-color: #fff; 
  }
  
  .footer .text-center {
    text-align: center; 
  }
  